<div class="card mb-3 meal-card">
  <img class="card-img-top" src=".../100px180/">
  <div class="card-body">
    <h5 class="card-title">{{mealId}}</h5>
    <p class="card-text">{{desc}}</p>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary"><i class="fas fa-minus"></i></button>
     <span class="btn badge badge-light"><h4>{{price}}€</h4></span>
      <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
    </div>
  </div>
</div>
